
// color
$--color-default: #dcdfe6;
$--color-primary: #409EFF;
$--color-success: #67C23A;
$--color-warning: #E6A23C;
$--color-danger: #F56C6C;
$--color-info: #909399;

$--color-hover: #3a8ee6;

$--color-font: #606266;
$--color-font-strong: #303133;